* {
    font-family: "poppins", sans-serif;
}

p {
    margin: 0;
}

/* ============Top Start========== */
.top {
    color: #666666;
    padding: 0 6rem;
    background-color: #eeeeee;
    height: 1.85rem;
}

.top div {
    cursor: pointer;
}

.info-top p {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
}

.info-top span {
    font-size: medium;
    padding: 0 0.5rem;
}

.info-top {
    padding: 0 0.5rem;
}

.language {
    height: 100%;
    background-color: #ffffff;
    width: 5rem;
    margin-right: 2rem;
    font-size: 14px;
}

/* =============Top End================ */

/* =============Navbar Start================ */
.logo {
    height: 3.4rem;
}

nav {
    height: 5rem;
    margin: 0.5rem 0;
}

.nav-links p {
    margin-right: 15px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.nav-links p:nth-child(1) {
    color: #0d6db7;
}

.nav-links p:nth-child(7) {
    color: #0d6db7;
    animation: coloranim 1s infinite;
}

@keyframes coloranim {
    from {
        color: #0d6db7;
    }

    to {
        color: #8dc63f;
    }

}

.nav-links p::after {
    border-bottom: 2px solid #8dc63f;
    content: "";
    display: block;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

.nav-links p:hover:after {
    transform: scaleX(1);
}

.nav-btn {
    font-size: 12px;
}

.nav-btn>button {
    height: 2rem;
    width: 7rem;
    border-radius: 5px;
    background-color: #0d6db7;
    color: #ffffff;
    border: 1px solid #0d6db7;
}

.nav-btn>button:nth-child(2) {
    background-color: #8dc63f;
}

.nav-btn>button:hover {
    transform: scale(1.1);
}


/* =============Navbar End================ */