* {
    font-family: "poppins", sans-serif;
}

p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* ============Top Start========== */
.top {
    color: #666666;
    padding: 0 6rem;
    background-color: #eeeeee;
    height: 1.85rem;
}

.top div {
    cursor: pointer;
    flex-wrap: wrap;
}

.info-top p {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
}

.info-top span {
    font-size: medium;
    padding: 0 0.5rem;
}

.info-top {
    padding: 0 0.5rem;
}

.language {
    height: 100%;
    background-color: #ffffff;
    width: 5rem;
    margin-right: 2rem;
    font-size: 14px;
}

/* =============Top End================ */

/* =============Navbar Start================ */
.logo {
    height: 3.4rem;
    padding-left: 5rem;
}

.hamburger {
    display: none;
}

nav {
    height: 5rem;
    margin: 0.5rem 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.nav-links p {
    margin-right: 15px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    color: #000000d9;
}

.nav-links p:nth-child(1) {
    color: #0d6db7;
}

.nav-links p:nth-child(7) {
    color: #0d6db7;
    animation: coloranim 1s infinite;
}

@keyframes coloranim {
    from {
        color: #0d6db7;
    }

    to {
        color: #8dc63f;
    }

}

.nav-links p::after {
    border-bottom: 2px solid #8dc63f;
    content: "";
    display: block;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

.nav-links p:hover:after {
    transform: scaleX(1);
}

.nav-btn {
    font-size: 12px;
}

.nav-btn>button {
    height: 2rem;
    width: 7rem;
    border-radius: 5px;
    background-color: #0d6db7;
    color: #ffffff;
    border: 1px solid #0d6db7;
    transition: transform .25s ease-in-out;
}

.nav-btn>button:nth-child(2) {
    background-color: #8dc63f;
}

.nav-btn>button:hover {
    transform: scale(1.1);
}


/* =============Navbar End================ */


/* =============Hero Section Start================ */

/* Text Animation */
.animated-text {
    font-size: 24px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Youtuber";
    color: #0d6db7;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #ffffff;
    border-left: 2px solid #0d6db7;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #0d6db7;
    }
}

@keyframes words {

    0%,
    20% {
        content: "daily Meals,";
    }

    21%,
    40% {
        content: "Monthly family support,";
    }

    41%,
    60% {
        content: "clean water,";
    }

    61%,
    80% {
        content: "Education,";
    }

    81%,
    100% {
        content: "healthcare and lot more.";
    }

    /* 81%,
    100% {
        content: "assistance to disaster affestees,";
    }

    81%,
    100% {
        content: "healthcare and lot more.";
    } */
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* Text animation */

.hero-img {
    width: 38%;
}

.hero>div {
    width: 546px;
    padding-top: 5rem;
}

.hero>div>h3 {
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.hero>div>h3>span {
    color: #8dc63f;
}

.hero>div>div,
.hero>div>p {
    padding-bottom: 0.6rem;
    color: #000000d9;
}

.hero>div>button {
    font-size: 12px;
    gap: 7px;
    padding: 0.7rem 2.5rem;
    border-radius: 7px;
    background-color: #ffffff;
    color: #000000d9;
}

.hero {
    margin: 2rem 5rem;
}

/* =============Hero Section End================ */


/* =============Services Section Start================ */
.services {
    margin: 4rem 8rem;
}

.services>h1 {
    font-size: 30px;
    font-weight: 600;
}

.cards {
    margin: 3rem 0;
    flex-flow: row wrap;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    background-color: #f0fcdb;
    border: none;
    transition: transform .25s ease-in-out;
}

.card:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.card>div {
    width: 70px;
    height: 70px;
    text-align: center;
}

.card>p {
    padding-top: 1rem;
    font-weight: 600;
}


.donate-card {
    width: 30%;
    height: 300px;
    cursor: pointer;
}

.donate-cards {
    margin: 3rem 0;
    flex-wrap: wrap;
    gap: 1rem;
}

/* .donate-card>img {
    width: 356px;
    height: 300px;
    position: absolute;
    filter: brightness(50%);
}

.donate-card>img:hover {
    filter: brightness(100%);
} */

.donate-card:nth-child(1) {
    background-image: url(./Images/b0abff1d-a3f9-49a7-9d58-273bbc735561.jpg);
    background-size: cover;
    filter: brightness(50%);
    border-radius: 8px;
}

.donate-card:nth-child(1):hover {
    filter: brightness(1);
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
}


.donate-card:nth-child(2) {
    background-image: url(./Images/8517e89c-e41d-4868-8c92-3bbc0d1f9339.jpg);
    background-size: cover;
    filter: brightness(50%);
    border-radius: 8px;
}

.donate-card:nth-child(2):hover {
    filter: brightness(1);
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
}

.donate-card:nth-child(3) {
    background-image: url(./Images/c6fdf6af-51d5-4388-97ef-6cf10eb73aca.jpg);
    background-size: cover;
    filter: brightness(50%);
    border-radius: 8px;
}

.donate-card:nth-child(3):hover {
    filter: brightness(1);
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
}

.donate-card>p,
.donate-card>button {
    color: #ffffff;
    margin: 0 1rem;
    filter: brightness(1);
}

.donate-card>p {
    margin-top: 62%;
    padding-bottom: 0.4rem;
    font-weight: 600;
}

.donate-card>button {
    width: 90%;
    border-radius: 8px;
    background-color: #8dc63f;
    border: none;
    padding: 0.5rem 0;
    /* opacity: 0.8; */

}

/* =============Services Section End================ */


/* =============Footer Start================ */
footer {
    /* background-color: #424242; */
    color: #ffffff;
    padding: 3.14rem 7rem;
    overflow: hidden;
}

.footer-bgcol {
    position: absolute;
    background-color: #424242;
    height: 536px;
    z-index: -2;
    width: 100%;
    translate: -7rem -3rem;
}

.footer-bgimg {
    background-image: url(./Images/foter\ imh.png);
    position: absolute;
    height: 487px;
    width: 100%;
    filter: brightness(30%);
    background-repeat: no-repeat;
    background-position-x: center;
    transform: translate(-7rem);
    z-index: -1;
}

.footer-top {
    border-bottom: 1px solid gray;
}

.footer-btns>img {
    border-radius: 8px;
    margin-left: 0.5rem;
}

.footer-top>div>img {
    padding-bottom: 2rem;
}

.footer-top>div>h1 {
    font-size: 20px;
    padding-bottom: 1rem;
}

.footer-top>div>p {
    padding-bottom: 1rem;
    font-size: 14px;
}

.footer-top>div:nth-child(4)>p {
    padding: 0;
}

.footer-approved {
    border-bottom: 1px solid gray;

}

.footer-IP {
    font-size: 14px;
    border-bottom: 1px solid gray;
}

.footer-copyright {
    font-size: 14px;

}

/* =============Footer End================ */



/* =============Responsive Satart================ */

@media only screen and (max-width: 1356px) {
    .donate-cards {
        justify-content: center !important;
    }

    .donate-card {
        width: 340px;
    }
}


@media only screen and (max-width: 1190px) {
    .navbar {
        justify-content: space-between !important;
    }

    .nav-info {
        display: none !important;
    }

    .logo {
        padding-left: 6.5rem;
    }

    .hamburger {
        display: flex;
        margin-right: 8rem;
        padding: 2px 5px;
        font-size: 30px;
        color: #666666;
        border: 1px solid gray;
        border-radius: 6px;
    }
}



@media only screen and (max-width: 1100px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (max-width: 926px) {
    .card {
        width: 15rem;
    }

    .cards {
        justify-content: center !important;
        gap: 1rem;
    }
}


@media only screen and (max-width: 860px) {
    .hero-img {
        display: none;
    }

    .hero {
        margin: 2rem 7rem;
        justify-content: flex-start !important;
    }

    .footer-bgcol {
        height: 621px;
    }
}

@media only screen and (max-width: 776px) {
    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .footer-btns {
        justify-content: center;
    }

    .footer-bgcol {
        height: 970px;
    }
}

@media only screen and (max-width: 668px) {
    .top {
        padding: 0;
        height: auto;
    }
}

@media only screen and (max-width: 478px) {
    html {
        font-size: 50%;
    }

    .navbar {
        height: 10rem;
    }

    .logo {
        padding: 0;
        height: 5.4rem;
    }

    .hamburger {
        margin: 0.5rem;
        /* font-size: 30; */
    }

    .hero {
        margin: 2rem 1rem;
    }

    .language {
        width: fit-content;
    }
}

@media only screen and (max-width: 529px) {
    .donate-card {
        width: 100%;
    }

    .donate-cards {
        flex-direction: column;
        margin: 0;
    }
}




/* =============Responsive End================ */